<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Farmerapp">
        <activity
            android:name=".DiseaseeActivity"
            android:exported="false" />
        <activity
            android:name=".WeatherActivity"
            android:exported="false"
            android:theme="@style/Theme.Farmerapp" />
        <activity
            android:name=".CompositActivity"
            android:exported="false"
            android:theme="@style/Theme.Farmerapp" />
        <activity
            android:name=".Fertilizers"
            android:exported="false"
            android:theme="@style/Theme.Farmerapp" />
        <activity
            android:name=".herbicides"
            android:exported="false"
            android:theme="@style/Theme.Farmerapp" />
        <activity
            android:name=".productinfo"
            android:exported="false"
            android:theme="@style/Theme.Farmerapp" />
        <activity
            android:name=".ProductActivity"
            android:exported="false"
            android:theme="@style/Theme.Farmerapp" />
        <activity
            android:name=".scheme2"
            android:exported="false"
            android:theme="@style/Theme.Farmerapp" />
        <activity
            android:name=".scheme"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>